html {
	font-size: 16px;
	body {
		font-size:62.5%; //1em = 10px, makes math easier
		font-family: Tahoma, Verdana, Segoe, sans-serif;
		color: #262626;
		p { 
			font-size: 1.4em;
			margin: 0 0 15px 0;
		}
		a {
			color: $dark_blue;
		}
		a:hover {
			background: $dark_blue;
			color: white;
			text-decoration: none;
		}
		li {
			font-size: 1.4em;
		}
		h1 {
			font-size: 2.6em;
			color: $dark_blue;
			font-weight: normal;
		}
		h3 {
			font-size:1.6em;
		}
		.sidebar {
			color:#333;
			h1 {
				font-size: 1.6em;
				font-weight: normal;
				color: $dark_blue;
			}
		}
		.sitenav {
			li {
				color: #eee;
				text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
				a {
					color: #eee;
					text-decoration:none;
				}
				a:hover {
					background: transparent;
				}
			}
			li:hover {
				//background: #4f6c9e; 
			}
		}
		.pagenav {
			color:#333;
			h3 {
				color:#fff;
				font-weight:normal;
			}	
			a {
				color:#333;
				text-decoration:none;
			}
			a:hover {
				background:#fff;
			}	
		}
	}
}
