$light_blue: #afd0fa;
$dark_blue: #305c91;

@mixin blue_grad {
	background: #7cbcfb; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjYmNmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzU2ODhlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzRjNjg5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1MjcwYTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #7cbcfb 0%, #5688e0 50%, #4c6899 51%, #5270a2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7cbcfb), color-stop(50%,#5688e0), color-stop(51%,#4c6899), color-stop(100%,#5270a2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7cbcfb 0%,#5688e0 50%,#4c6899 51%,#5270a2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7cbcfb 0%,#5688e0 50%,#4c6899 51%,#5270a2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7cbcfb 0%,#5688e0 50%,#4c6899 51%,#5270a2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #7cbcfb 0%,#5688e0 50%,#4c6899 51%,#5270a2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cbcfb', endColorstr='#5270a2',GradientType=0 ); /* IE6-8 */
	-moz-box-shadow: 0 3px 5px -1px #000;
	-webkit-box-shadow: 0 3px 5px -1px #000;
	box-shadow: 0 3px 5px -1px #000;
  .innerwrap {
		-moz-box-shadow: inset 0 0 3px 0 #000;
		-webkit-box-shadow: inset 0 0 3px 0 #000;
		box-shadow: inset 0 0 3px 0 #000;
	}
}

@mixin visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
